.card {
    height: 200px;
    width: 200px;
    text-align: center;
    background-color: cadetblue;
    border-radius: 5px;
    padding-top: 5px;
    margin: 10px;
}

.name {
    color: yellow;
    font-size: 20px; 

}

.age {
    color: orangered;
    font-weight:bold;
}